.thumbnail{
    width:100%;
  
}
.video-thumbnail{
    margin-bottom:12px;
      position:relative;
      display:flex;
    
    
}

.video-time{
   position:absolute;
    bottom: 8px;
    right: 5px;;
    background-color: black;
    color:white;
    font-size:12px;
    z-index: 1;
    font-family: Roboto,Arial,sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 4px 2px 4px;
}
   
    
.sec-layout{
    display:grid;
    grid-template-columns: 50px 1fr;
    column-gap: 30px;
}
.profile-pic{
    width: 50px;
    border-radius: 50px;
    object-fit: cover;
    margin:5px 7px 4px 7px;
}

.layout-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 16px;
    row-gap: 40px;
}
@media (max-width:750px){
    .layout-grid{
        grid-template-columns: 1fr 1fr;

    }
}
@media (min-width:1000px){
    .layout-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media(min-width:751px) and (max-width:999px){
    .layout-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.title{
    font-weight:700;
font-family: Roboto,Arial,sans-serif;
color: #0f0f0f;
font-size: 20px;
margin-bottom: 8px;
}
